---
import { generateToc } from "@/utils/generateToc";
import type { MarkdownHeading } from "astro";
import TOCHeading from "./TOCHeading.astro";

interface Props {
    headings?: MarkdownHeading[];
    panelId?: string;
    closeBtnId?: string;
}

const { headings, panelId = "toc-panel", closeBtnId = "close-toc" } = Astro.props;
const toc = generateToc(Array.isArray(headings) ? headings : []);
---

{toc.length > 0 && (
<div class="toc-card__body">
    <ul class="toc-list">
        {toc.map((heading) => <TOCHeading heading={heading} />)}
    </ul>
</div>
    )}
