/*---*/
/*import authors from '../../data/authors.json';*/
/*import AuthorCard from '../../components/AuthorCard.astro';*/
/*---*/

/*<h1>Autores</h1>*/
/*<div class="authors-list">*/
/*  {authors.map(author => (*/
/*    <a href={`/authors/${author.id}/`} style="text-decoration:none;">*/
/*      <AuthorCard author={author} />*/
/*    </a>*/
/*  ))}*/
/*</div>*/

/*<style>*/
/*.authors-list {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  gap: 2rem;*/
/*  justify-content: flex-start;*/
/*}*/
/*</style>*/

