---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/sections/Header.astro';
import Footer from '../components/sections/Footer.astro';

const { title = "Mi sitio", description = "" } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark" class="dark">
<head>
    <BaseHead title={title} description={description} />
</head>
<body>
<Header />
<main class="use-utility-layout mx-auto max-w-5xl px-3 py-5 space-y-7">
    <slot /> {/* Aquí se inyecta el contenido de cada página */}
</main>
<Footer />
</body>
</html>
